<!DOCTYPE html>

<html>

<head>
    <title>File Metadata</title>

    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>This is index.ejs File</h1>
    <% articles.forEach(article=>{ %>
    
        <%= article.title %>
        <br>

    <% }) %>
</body>

</html>